name: Build Companion Firmwares

permissions:
  contents: write

on:
  workflow_dispatch:
  push:
    branches:
      - slunsecore
    tags:
      - "slunsecore-companion-*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone Repo
        uses: actions/checkout@v4

      - name: Setup Build Environment
        uses: ./.github/actions/setup-build-environment

      - name: Build Firmwares
        env:
          FIRMWARE_VERSION: ${{ env.GIT_TAG_VERSION || env.GIT_COMMIT_VERSION }}
        run: /usr/bin/env bash build.sh build-companion-firmwares

      - name: Upload Workflow Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: companion-firmwares
          path: out

      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          name: Slunsecore Companion Firmware ${{ env.GIT_TAG_VERSION }}
          body: ""
          draft: true
          files: out/*
